{% extends 'finance/base.html' %}

{% block content %}
<div class="container py-5">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <h1 class="mb-4">О проекте</h1>
            
            <div class="card mb-4">
                <div class="card-body">
                    <h4 class="mb-3">Дипломный проект</h4>
                    <p class="lead">
                        Тема: «Проектирование и разработка интеллектуальной системы учета и анализа личных финансов с автоматической категоризацией операций и прогнозным моделированием»
                    </p>
                </div>
            </div>
            
            <div class="row mb-4">
                <div class="col-md-6 mb-3">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5><i class="bi bi-check-circle text-success me-2"></i>Цели проекта</h5>
                            <ul class="mt-3">
                                <li>Создание удобной системы учета финансов</li>
                                <li>Реализация автоматической категоризации</li>
                                <li>Разработка прогнозных моделей</li>
                                <li>Создание семейного финансового управления</li>
                            </ul>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-6 mb-3">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5><i class="bi bi-star text-warning me-2"></i>Особенности</h5>
                            <ul class="mt-3">
                                <li>Адаптивный дизайн для всех устройств</li>
                                <li>Безопасное хранение данных</li>
                                <li>Интеграция с банковскими API</li>
                                <li>Поддержка импорта/экспорта данных</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}